@use "../abstracts/" as *;


.early-access-block {
  background-image: linear-gradient($main-bg 60%, $footer-bg 40%);

  .early-access {
    background-color: $intro-bg;
    max-width: 870px;
    width: 80vw;
    margin: auto;
    padding: 3em 0 ;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 1px $footer-bg;

    &_heading {
      font-size: 2rem;
    }

    &_text {
      padding: 2em 4rem;
      font-size: $text-size-8;
      letter-spacing: 0.05rem;
      line-height: 1.3rem;
    }

    &_form {
      display: flex;
      justify-content: center;
      gap: 1.5em;
      padding-right: 0.5em;
      padding-left: 0.5em;

      &_input {

        &_field {
          max-width: 36em;
          width: 35vw;
          padding: 1.2em 3em;
          border-radius: 50px;
        }

        &_field::placeholder {
          color: lightgray;
        }

        &_error {
          position: absolute;
          font-size: $text-size-8;
          color: $error;
          text-align: left;
          margin-top: 0.1rem;
          margin-left: 3em;
        }
      }

      &_button {
        @extend %button;
        padding-right: 2rem; 
        padding-left: 2rem; 
        font-size: 0.9rem;
      }
      
      &_button:hover {
        @extend %button-hover;
      }
    }
  }

  @media screen and (max-width: calc($mobile-screen) ) {

    .early-access {
      width: 90vw;
      padding: 5em 0;

      &_heading {
        font-size: $mobile-subheading-size;
      }

      &_text {
        padding: 2em 3rem;
        font-size: $mobile-text-size;
        line-height: $mobile-text-line-height;
      }

      &_form {
        flex-direction: column;
        padding: 0 8vw;
        gap: 4em;

        &_input {
          
          &_field {
            max-width: 100%;
            width: 100%;
            padding: 2rem 4rem;
            font-size: $mobile-text-size - 0.5rem;
          }
          
          &_field::placeholder {
          }
          
          &_error {
            margin-top: 0.5rem;
            margin-left: 4rem;
          }
        }
        
        &_button {
          padding: 2rem 4rem;
          font-size: $mobile-text-size;
        }
      }
    }
  }
}