@use "../abstracts/" as *;

// $grid-item-width: 90vw;
$grid-content-width: calc(20vw + 300px);
$explanation-text-size: $text-size-8 + 0.15rem;

.explanation {
  display: grid;
  // grid-template-columns: repeat(2, calc(25%));
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  max-width: 95vw;
  margin: auto;
  margin-bottom: calc($block-bottom-margin - 3em);

  &_image {
    justify-self: right;

    &_img {
      max-width: 600px;
      width: $grid-content-width;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    padding-left: calc(3vw + 10px);
    text-align: left;
    max-width: calc($grid-content-width - 3vw);
    // width: $grid-content-width;

    &_heading {
      max-width: 20rem;
      margin-bottom: 0.3rem;
    }
    
    &_text {
      @extend %medium-text;
      margin: 0.7rem 0;
      font-size: 1rem;
    }

    &_how-fylo-works {
      text-decoration: none;
      margin-top: 0.5rem;

      &_text {
        display: inline-flex;
        align-items: center;
        color: $cyan;
        text-decoration: none;
        border-bottom: 1px solid $cyan;
        padding-bottom: 0.2em;
        font-size: $explanation-text-size;

        &_arrow-icon {
          margin-left: 0.5rem;
          margin-top: 0.1rem;
        }
      }
    }
  }

  @media screen and (max-width: 1039px) and (min-width: calc($mobile-screen - 1px)) {
    .explanation {

      &_image {

        &_img {
          width: calc($grid-content-width - 100px);
        }
      }
    
      &_info {
    
        &_heading {
        }
        
        &_text {
          max-width: 40vw;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-screen) {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin-bottom: calc($block-bottom-margin + 11em);

    &_image {
      margin-bottom: 7em;
      padding-right: 0;

      &_img {
        max-width: 600px;
        width: calc($mobile-max-width + 800px);
      }
    }

    &_info {
      padding-left: calc(1vw + 0.25em);
      max-width: 100%;
      width: 95%;

      &_heading {
        font-size: $mobile-subheading-size;
        max-width: 100%;
      }

      &_text {
        font-size: $mobile-text-size;
        line-height: 2.5rem;
        line-height: $mobile-text-line-height;
      }

      &_how-fylo-works {

        &_text {
          font-size: $mobile-text-size - 0.3rem;
          padding-bottom: 0.7em;
          
          &_arrow-icon {
            width: $mobile-text-size;
          }
        }
      }
    }
  }
}