@use "../abstracts/" as *;

.features {
  margin: auto;
  margin-bottom: calc($block-bottom-margin - 3em);
  text-align: center;
  max-width: $max-width-px;
  width: calc(50vw + 20em);
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 10vw;
  row-gap: 5em;
  column-gap: 10vw;
  justify-items: center;
  
  &_item {
    max-width: 350px;
    // width: calc(50vw + 20em);
    // padding: 1em;
    // position: relative;
    &_icon {
      // position: absolute;
      height: 80px;
      // width: 80px;
      margin-bottom: 1.5em;
    }
    &_heading {
      // font-size:
      padding-bottom: 0.5rem;
      // margin-top: 10em;
    }
    &_text {
      font-size: 0.8rem;
    }
  }

  
  @media screen and (max-width: $mobile-screen) {
    grid-template-columns: 1fr;
    // margin: auto;
    // margin-bottom: calc($block-bottom-margin - 3em);
    // text-align: center;
    // max-width: $max-width-px;
    // width: calc(50vw + 20em);
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // row-gap: 5em;
    // column-gap: 10vw;
    // justify-items: center;
    
    &_item {
      max-width: $mobile-max-width ;
      &_icon {
        height: 120px;
        // margin-bottom: 1.5em;
      }
      &_heading {
        // padding-bottom: 0.5rem;
      }
      &_text {
        // font-size: 0.8rem;
      }
    }
  }

}