@use "../abstracts/" as *;

.features {
  margin: auto;
  margin-bottom: calc($block-bottom-margin - 3em);
  text-align: center;
  max-width: $max-width-px;
  width: calc(50vw + 20em);
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5em;
  column-gap: 10vw;
  justify-items: center;
  
  &_item {
    max-width: 350px;

    &_icon {
      height: 80px;
      margin-bottom: 1.5em;
    }

    &_heading {
      padding-bottom: 0.5rem;
    }

    &_text {
      font-size: 0.8rem;
    }
  }

  
  @media screen and (max-width: $mobile-screen) {
    grid-template-columns: 1fr;
    gap: 12em;
    
    &_item {
      max-width: 98%;
      
      &_icon {
        height: 120px;
        margin-bottom: 5em;
      }

      &_heading {
        font-size: $mobile-subheading-size;
        padding-bottom: 0.5rem;
      }

      &_text {
        font-size: $mobile-text-size;
        line-height: 2.5rem;
        line-height: $mobile-text-line-height;
      }
    }
  }
}