$body-font-size: 14px;

// Destop sizes
$heading-size: 0rem;
$text-size-8: 0.8rem;
$text-size-95: 0.95rem;

$max-width-px: 900px;
$max-width-vw: 90vw;
$block-bottom-margin: calc(2vh + 12em);

// Mobile sizes
$mobile-heading-size: 1.5rem;
$mobile-text-size: $text-size-8 + 0.4rem;;
$mobile-max-width: 80vw;
$mobile-width: 0vw;