$mobile-screen: 765px;

$body-font-size: 14px;

// Destop sizes
$heading-size: 0rem;
$text-size-8: 0.8rem;
$menu-text-size: 0.9rem;

$max-width-px: 900px;
$max-width-vw: 90vw;
$block-bottom-margin: calc(2vh + 12em);

// Mobile sizes
$mobile-heading-size: 3rem;
$mobile-subheading-size: $mobile-heading-size - 0.8rem;
$mobile-text-size: $text-size-8 + 0.95rem;
$mobile-text-line-height: 2.5rem;
$mobile-menu-text-size: 0;
$mobile-max-width: 80vw;
$mobile-width: 0vw;

$explanation-text-size: $text-size-8 + 0.15rem;