@use "media-sizes" as *;
@use "colors" as *;

%button {
  padding: 1rem 6rem;
  border-radius: 100px;
  font-size: 1rem;
  color: $text-color;
  background-color: $blue;
  background-image: linear-gradient(to right, $cyan, $blue);
  cursor: pointer;
}
%button-hover {
  background-color: $cyan;
  background-image: linear-gradient(to right, $cyan, $cyan);
  
}

%header-footer-padding {
  padding: 7em calc(5vw + 1em);
}

%medium-text {
  font-size: $explanation-text-size;
  line-height: 1.4rem;
}