@use "colors";
@use "fonts";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: colors.$main-bg;
  font-family: fonts.$body-font;
  font-size: fonts.$body-font-size;
  color: colors.$text;
}

.header {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
  
  // &_logo {
  // }
  
  &_nav-menu {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    
    &_item {
      font-family: fonts.$header-font;
      color: colors.$text;
      text-decoration: none;
    }

    &_item:hover {
      text-decoration: underline;
      font-weight: 700;
      cursor: pointer;
    }
  }
}