@use "./abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  font-family: $body-font;
  font-size: $body-font-size;
  color: $text-color;
  text-align: center;
}

h1 {
  font-size: calc(0.4vw + 2rem);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fancy-font;
  font-weight: 700;
}

p {
  font-family: $body-font;
  font-weight: 400;
}

%button {
  padding: 1rem 6rem;
  border-radius: 100px;
  font-size: 1rem;
  color: $text-color;
  background-color: $blue;
  // margin: 2rem 0;
}
%button-hover {
  background-color: $cyan;
  transition: all 0.3s ease;
  cursor: pointer;
}




.header {
  background-color: $intro-bg;
  display: flex;
  align-items: center;
  // padding: 2rem 4rem;
  padding: 7em calc(4vw + 2rem);
  justify-content: space-between;
  &_logo {
    margin-right: 1.5em;
    max-width: 180px;
    width: calc(5vw + 100px)
    }
  &_nav-menu {
    display: flex;
    gap: calc(4vw + 0.5rem);
    // gap: 4rem;
    justify-content: space-between;
    &_item {
      font-family: $fancy-font;
      color: $text-color;
      text-decoration: none;
    }
    &_item:hover {
      text-decoration: underline;
      font-weight: 700;
      cursor: pointer;
    }
  }
}


.intro {  
  background-color: $intro-bg;
  // max-width: calc (100vw - 10rem);
  // max-width: $max-width-px;
  // width: 90vw;
  margin: auto;
  padding-bottom: $block-bottom-margin;
  background-image: url("../assets/images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
  &_image {
    max-width: 725px;
    width: 90vw;
  }
  &_heading {
    line-height: 3.5rem;
    padding: 2rem calc(2vw + 0rem);
    max-width: 800px;
    margin: auto;
  }
  &_text {
    max-width: 700px;
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.8rem;
    // padding: 0 6.5rem;
    padding: 0 calc(2vw + 1rem);
  }
  &_get-started {
    @extend %button;
    margin: 2rem 0;

  }
  &_get-started:hover {
    @extend %button-hover;

  }
}


.features {
  margin: auto;
  margin-bottom: calc($block-bottom-margin - 3em);
  text-align: center;
  max-width: $max-width-px;
  width: calc(50vw + 20em);
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 10vw;
  row-gap: 5em;
  column-gap: 10vw;
  justify-items: center;
  
  &_item {
    max-width: 350px;
    // width: calc(50vw + 20em);
    // padding: 1em;
    // position: relative;
    &_icon {
      // position: absolute;
      height: 80px;
      // width: 80px;
      margin-bottom: 1.5em;
    }
    &_heading {
      // font-size:
      padding-bottom: 0.5rem;
      // margin-top: 10em;
    }
    &_text {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 699px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 8em auto;
    // text-align: center;
    max-width: $mobile-max-width;
    // width: calc(50vw + 20em);
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // // gap: 10vw;
    // justify-items: center;
    &_item {
      max-width: 100%;
      // width: calc(50vw + 20em);
      padding: 1em;
      &_icon {
        // height: 60px;
        // margin-bottom: 1.5em;
      }
      &_heading {
        // padding-bottom: 0.5rem;      
      }
      &_text {
        // font-size: 0.8rem;
      }
    } 
  }
}


.explanation {
  // $grid-item-width: 500px;
  // $grid-content-width: calc(15vw + 300px);
  $grid-item-width: 90vw;
  $grid-content-width: calc(20vw + 300px);
  $explanation-text-size: $text-size-8 + 0.15rem;
  display: grid;
  grid-template-columns: repeat(2, calc(25%));
  align-items: center;
  justify-content: center;
  max-width: 95vw;
  margin: auto;
  margin-bottom: calc($block-bottom-margin - 3em);
  &_image {
    justify-self: right;
    // padding-right: calc(1vw + 0.25em);
    &_img {
      max-width: $grid-item-width;
      width: $grid-content-width;
    }
  }
  &_info {
    padding-left: calc(1vw + 2em);
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: $grid-content-width;
    width: calc($grid-content-width - 1vw);
    &_heading {
      max-width: 20rem;
      margin-bottom: 0.3rem;
      // font-size: 1rem;
    }
    &_text {
      font-size: $explanation-text-size;
      line-height: 1.4rem;
      margin: 0.7rem 0;
    }
    &_how-fylo-works {
      text-decoration: none;
      margin-top: 0.5rem;
      &_text {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        color: $cyan;
        text-decoration: none;
        border-bottom: 1px solid $cyan;
        padding-bottom: 0.2em;
        font-size: $explanation-text-size;
        &_arrow-icon {
          margin-left: 0.5rem;
          margin-top: 0.1rem;
        }
      }
    }
  }

  @media screen and (max-width: 1039px) {
    display: flex;
    flex-direction: column;
    max-width: $mobile-max-width;
    &_image {
      margin-bottom: 4rem;
      padding-right: 0;
      &_img {
        max-width: 500px;
        width: 80vw;
      }
    }
    &_info {
      padding-left: calc(1vw + 0.25em);
      max-width: 100%;
      width: 90%;
      &_heading {
        font-size: $mobile-heading-size;
        max-width: 100%;
      }
      &_text {
        font-size: $mobile-text-size;
        margin: 0.7rem 0;
      }
      &_how-fylo-works {
        &_text {
          font-size: $mobile-text-size;
        }
        &_arrow-icon {
        }
      }
    }
  }
}


.testimonials {
  max-width: calc($max-width-vw - 150px);
  margin: auto;
  display: flex;
  gap: 3em;
  text-align: left;
  position: relative;  
  margin-bottom: $block-bottom-margin;
  &_quotes-icon {
    position: absolute;
    z-index: 1;
    top: -35px;
    left: -10px;
  }
  &_card {
    z-index: 2;
    background-color: $testimonial-bg;
    padding: 3em 2em;
    border-radius: 7px;
    box-shadow: 5px 5px 10px 1px  $intro-bg;
    &_statement {
      margin-bottom: 2rem;
      font-size: $text-size-8;
      letter-spacing: 0.05rem;
      line-height: 1.3rem;
    }
    &_author {
      &_photo {
        width: 1.8rem;
        float: left;
        margin-right: 0.6em;
        border-radius: 50%;
      }
      &_name {
        // font-family: $fancy-font;
        font-weight: 700;
        padding-bottom: 0.2rem;
        font-size: 0.65rem;
        letter-spacing: 0.03rem;
      }
      &_designation {
        font-size: 0.5rem;
        letter-spacing: 0.05rem;
      }
    }
  }
}


.early-access {
  background-color: $intro-bg;
  max-width: 800px;
  width: 80vw;
  margin: auto;
  padding: 3em 0;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 1px $footer-bg;
  &_heading {
    font-size: 2rem;
  }
  &_text {
    padding: 2em 4rem;
    font-size: $text-size-8;
    letter-spacing: 0.05rem;
    line-height: 1.3rem;
  }
  &_form {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-right: 0.5em;
    padding-left: 0.5em;

    &_input {
      max-width: 35em;
      width: 35vw;
      padding: 1.2em 3em;
      border-radius: 50px;
    }
    &_input::placeholder {
      color: lightgray;
    }
    &_button {
      @extend %button;
      padding-right: 2rem; 
      padding-left: 2rem; 
      font-size: 0.9rem;
    }
    &_button:hover {
      @extend %button-hover;
    }
  }
}
