@use "./abstracts" as *;
@use "./components/early-access";
@use "./components/explanation";
@use "./components/features";
@use "./components/footer";
@use "./components/header";
@use "./components/intro";
@use "./components/testimonials";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  font-family: $body-font;
  font-size: $body-font-size;
  color: $text-color;
  text-align: center;
}

h1 {
  font-size: calc(0.4vw + 2rem);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fancy-font;
  font-weight: 700;
}

p {
  font-family: $body-font;
  font-weight: 400;
}
